@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Montserrat:wght@100&display=swap');


* {
    margin: 0;
    font-family: 'Golos Text';
    /* box-sizing: border-box; */
}

:root {
    --primary-color: #0E273C;
    --secondary-color: #B8336A;
    --accent-color: #8D2953;
}

/* General header and container CSS */
header {
    background-color: var(--primary-color);
    height: 10%;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

#container {
    position: relative;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 25% 1fr;
}

/* Logo and hover animation*/
#logo {
    font-family: 'Montserrat';
    transition: color ease 250ms;
    text-align: center;
}

#logoicon {
    width: 64px;
    height: 64px;
    padding: 10px 0;
}

#J { 
    opacity: 1.0;
    transition: all 0.3s linear;
}

#Face {
    opacity: 0.0;
    transition: all 0.5s ease;
}

svg:hover #J {
    opacity: 0;
}

svg:hover #Face {
    opacity: 1.0;
}

/*Navbar items CSS*/
#pageLogo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pageLogo::after {
    content: "";
    border-left: var(--secondary-color) 2px solid;
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 0px;
}

#pageLogo a{
    text-decoration: none;
    color: var(--secondary-color);

}

#pageLogo a:visited{
    color: var(--secondary-color);
}

#logo:hover {
    color: var(--accent-color);
}

nav {
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    
    position: relative;
}

nav a:hover {
    color: var(--accent-color);
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: var(--secondary-color);
  
    position: relative;
    bottom: -35px;
    width: 0%;
  
    transition: all ease 250ms;
  }

nav a:hover::before {
    width: 100%;
}

nav a {
    color: var(--secondary-color);
    text-decoration: none;
    text-transform: lowercase;
    transition: all ease 250ms;
    font-size: 20px;
}

